.home-banner {
    margin: 0 auto;
    width: 100%;
    height: 571px;
    background-color: #fff;
    overflow: hidden; 
    position: relative; 
}

.home-banner .imgBan {

    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    transition: all ease-in-out 500ms;
    -webkit-transition: all ease-in-out 500ms;
    -moz-transition: all ease-in-out 500ms;
    -o-transition: all ease-in-out 500ms;
}

.imgImgBan {
    width: 100%;
    position: absolute;
    top: 0px;
    transition: all ease-in-out 500ms;
    -webkit-transition: all ease-in-out 500ms;
    -moz-transition: all ease-in-out 500ms;
    -o-transition: all ease-in-out 500ms;
}

 .home-banner #imgBan3 {
    /* background: url('../assets/images/banners/banner_rails.jpg') no-repeat;  */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.home-banner #imgBan2 {
    /* background: url('../assets/images/banners/recycling.jpg') no-repeat;  */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.home-banner #imgBan1 {
    /* background: url('../assets/images/banners/20170329_124403.jpg') no-repeat;  */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} 

.showImg {
    display: block;
    transition: 'display 2s ease-in-out';
    -webkit-transition: 'display 2s ease-in-out';
    -moz-transition: 'display 2s ease-in-out';
}

.hideImg {
    display: none;
    transition: 'display 2s ease-in-out';
    -webkit-transition: 'display 2s ease-in-out';
    -moz-transition: 'display 2s ease-in-out';
}