.card-list {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  max-width: 80%;
  /*margin: 2em auto;*/
  text-align: center;
  width: 305px; 
  float: left;
  margin-right: 10px;
  padding-top: 15px;
  height: 325px;
}

.selectStyle.Select-value {
  right: initial;
}