
/* para card de Articulo*/

md-card.addArticulo {
  max-width: 80%;
  margin: 2em auto;
  /*text-align: center;*/
}

md-toolbar-row {
  justify-content: space-between;
}

.done {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
}

md-card.card {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
  width: 330px; 
  float: left;
  margin-right: 10px;
  padding-top: 15px;
  height: 325px;
}

md-card.card:hover {
  background-color: #eee;
}

[md-card].card-content.mat-card-header.mat-card-header-text {
    width: 100%;
    text-align: center;
}

.image-card {
  max-width: 250px;  
  max-height: 150px;
}



.detail-container {
    margin: 3rem 0 2rem 0;
}

.detail-body {
    color: #666;
    font-family: 'Varela Round', Arial, sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.625;
    text-align: justify;
    display: inline-block;
    width: 100%;
}

div.descripcion {
    height: 124px;
    display: block;
    padding: 10px;
    overflow: hidden;
}

.centrar-contenido {
  height: 50px;
}

/*  //.. termina para card de Articulo*/

.navbar-general {
    background-color: #eee;
    border-color: #eee;
    margin: 0px;
}

.horizontal-navigation {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    background: #eee;
    border-color: #eee;
    margin: 10px 0 -1px 0;
    border-bottom-color: white;
}

.horizontal-navigation__menu {
        -webkit-box-flex: 1;
    -webkit-flex: 1 1 1536px;
    -ms-flex: 1 1 1536px;
    flex: 1 1 1536px;
    list-style: none;
    max-width: 1536px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    font-size: 17px;
    line-height: 1em;
    margin: 0;
    padding: 0;
    border-top: 10px solid #eee;
    float: none;
}

.active-item {
    background-color: white;
    border-color: white;
}

.horizontal-navigation__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 20;
    -webkit-flex: 20 1 200px;
    -ms-flex: 20 1 200px;
    flex: 20 1 200px;
    border-radius: 4px 4px 0 0;
}

.card {
    margin-top: 5px;
}

.spacing-form {
    margin-top: 10px;
}

.image-detail {
  max-width: 350px;
  max-height: 300px;
}

.banner-detail {
    padding: 0; 
    background-color:'#FF4F00'; 
    color:'white';
    margin:'0px';
    text-align: center;
}

.titulo-box-detail {
    position: absolute;
    top: 20%;
    float: none;
    background-color: rgba(51, 51, 51, 0.46);
    padding: 1rem;
}