.cambio_imagen {
    top: 0%;
    position: absolute;
    background-color: white;
    margin: 0;
    width: 100%;
    font-size: small;
    text-align: left;
}

.agregar_imagen {
    background-color: white;
    margin: 0;
    width: 100%;
    text-align: left;
    margin: 1rem 0 1rem 0;
}

.image_edit {
    max-width: 100%;
    max-height: 250px;
}

.checkbox-style {
    float: right;
    width: 100px;
    margin-top: 5px;
}