.panel-collapse.searchBar {
    width: 22em;
    margin-top: -57px;
    margin-left: 2em;
    margin-bottom: -13px;
    padding: 0px;
}


.banner_image {
    margin-left: 0px;
    margin-top: -20px;
    width: 100%;
    position: absolute;
}

.banner_div {
    height: 235px;
}

.body {
    background-color: white;
    padding: 0px;
}

.nav-menu {
    position: fixed;
    z-index: 99;
    width: 100%;
}

.container-general {
    background-color: white;
    margin-left: 0px;
    padding: 0px;
}

.footer-general {
    background-color: #555;
    margin-left: 0px;
    height: 235px;
}

.footer__inner {
    margin: 32px 64px;
}

.footer__cols {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    /*margin-right: -72px;*/
}

.footer__col {
    margin-right: 2em;
    margin-left: 2em;
    margin-bottom: 32px;
    display: block;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
}

.footer__list {
    color: white;
    list-style-type: none;
}

.footer__list-item {
    margin: 8px 0;
}

.down-space {
  height: 58px;
}