/*body {
  margin: 0;
  font-family: Roboto, sans-serif;
}*/

.row .col-xs-12 {
    margin: 0px;
    padding: 0px;
}

.content-wrapper {
  /*display: block;
  text-align: center;
  padding: 0px 2em 30px 2em;*/
  background: #FF4F00;
  height: 570px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 15;
  padding: 0px;
}

#contenedor_slider {
    height: 570px;
    margin: 0 auto;
    position: relative;
    width: 100%;
    z-index: 15;
}

.texto {
    background: url(../assets/images/figuras/fnd_txt_slider.png) no-repeat left top;
    width: 330px;
    height: 307px;
    top: 50%;
    left: 50%;
    margin: -150px 0px 0px -150px;
    padding: 70px 50px 0px 25px;
    position: absolute;
    text-align: center;
    color: white;
}

.texto p.tit {
    font-size: 30px;
    font-weight: 700;
    line-height: 29px;
    text-transform: uppercase;
}

.content-wrapper-gray {
  height: auto;
  text-align: center;
  padding: 0px 2em 30px 2em;
  background-color: #eee;
  box-shadow: inset 8px 8px 8px rgba(153, 153, 153, 0.27);
}

.content-wapper--inner-thinner-sides {
  /*margin-left: 32px;
  margin-right: 32px;*/
  margin: 0;
}

.card_item {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 40%;
  -ms-flex: 1 1 40%;
  flex: 1 1 40%;
  text-align: center;
  position: relative;
  margin-bottom: 32px;
  margin-right: 32px;
  padding: 10px;
}

.card__inner {
  margin: 32px 32px;
}

.card__image {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 32px;
}

.card_img_custom {
  opacity: 88;
  transform: matrix(1, 0, 0, 1, 0, 0);
  border-radius: 70px;
  box-shadow: 3px 3px 5px #888888;
}

.titulo-box {
    text-align: center;
    font-weight: 600;
    width: 490px;
    float: none;
    margin: 0 auto;
    margin-top: 1em;
}

.titulo {
  top: 2em;
  font-size: 64px;
  font-family: MuseoSans, sans-serif;
  line-height: 2.2em;
}

.subtitulo {
  margin-bottom: 40px;
}
.subtitulo2 {
    margin-top: 50px;
    font-weight: 500;
    font-size: 44px;
    margin-bottom: 30px;
}

.button-comenzar {
    color: #fff;
    background: #00c3d9;
    border-color: #00c3d9;
    font-size: calc(18px + 0.2vw);
    padding: .6em 1.8em;
    font-weight: 600;
    width: auto;
    box-shadow: 2px 2px 9px #ccc;
}

.video-btn-block {
  width: 100%;
  position: relative;
  padding-top: 15px;
}

.play-icon {
  font-size: 100px;
  color: #00c3d9;
}
