a:hover {
    color: dimgray;
    text-decoration: none;
}
a:focus {
    color: dimgray;
    text-decoration: none;
}

.custom-nav {
    background-color: white;
    padding: 0;
    height: 130px
}

.custom-nav-brand {
    margin-left: 3rem;
    font-size: 2.3em;
    font-weight: 600;
    color: dimgray;
}

.panel-collapse.searchBar {
    width: 22em;
    margin-top: -57px;
    margin-left: 2em;
    margin-bottom: -13px;
    padding: 0px;
}


.banner_image {
    margin-left: 0px;
    margin-top: -20px;
    width: 100%;
    position: absolute;
}

.banner_div {
    height: 235px;
}

.body {
    background-color: white;
}

.nav-menu {
    /* padding-top: 14px; */
}

.navbar-shrink {
    -webkit-transition: all .4s ease;
    transition: all .4s ease;

    position: fixed;
    z-index: 99;
    width: 100%;
    background-color: white;
    /* min-height: 65px; */
    box-shadow: 3px 2px rgba(0, 0, 0, 0.12);
    border: none;
    height: 80px;
    padding-top: 0px;
}

.div-space {
    height: 145px;
}

.img-nav {
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    width: 265px;
}
.img-shrink {
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    width:220px
}

.container-general {
    background-color: #eee;
    margin-left: 0px;
}

.footer-general {
    background-color: #555;
    margin-left: 0px;
    height: 235px;
}

.down-space {
  height: 58px;
}

.active-plus {
    text-decoration: none;
    background-color: white;
}

.nav-personal-align-rigth {
    float: right;
    margin-right: 3rem;
}

.nav-item {
    padding: 0px 12px 0px 12px;
    position: relative;
    z-index: 99;
    border-right: 1px solid #c6c6c6;
}